.maincontent2 {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    margin-top: 460px;
}

@media (max-width: 1024px) {
    .maincontent2 {
        margin-top: 330px;
        padding: 16px;
    }
}

@media (max-width: 768px) {
    .maincontent2 {
        margin-top: 230px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .maincontent2 {
        margin-top: 150px;
        padding: 8px;
    }
}