.btn.btn-custom {
    background-color: #4e8ed8;
    border-color: #4e8ed8;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn.btn-custom:hover {
    background-color: #5aa0e6;
    border-color: #5aa0e6;
    color: #ffffff;
}

.text-purple-dark {
    color: #202170;
    transition: background-color 0.4s;

}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card-login {
    border-top: 5px solid #4e8ed8;
    border-radius: 40px;
}

.btn-custom {
    position: relative;
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}