.button-add-bloco {
    background: linear-gradient(135deg, rgba(54, 56, 180, 0.95) 0%, rgba(22, 23, 80, 0.95) 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.button-add-bloco:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(32, 33, 112, 0.4);
}

.apartment-section button {
    background: #ef4444;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease;
}

.apartment-section button:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(32, 33, 112, 0.4);
}